[2012-06-13 08:31] ekarlso opened #6 "Howto use ColanderAlchemy with deform / pyramid_deform"
Do you have any examples on how to use ColanderAlchemy with this?

Endre.

[2012-06-15 09:57] #6 closed, assigned to stefanofontanelli

[2012-06-18 09:36] ekarlso opened #8 "Trying to use a AddFormView (code ontop of pyramid_deform.FormView) together with ColandarAlchemy"
# So in a Test I do:

class TestForm(AddFormView):
    item_type = "Test"

[code]

class TestAddForm(UnitTestBase):
    def test_something(self):
        f = TestForm(Dummy(), DummyRequest())()
# The Model code basically looks like this:

class Booking(Base):
    **tablename** = "order"
    id = Column(Integer, primary_key=True)
    price = Column(Integer)

[code]
# The helper classes ontop of For

[2012-06-21 08:08] #8 closed, assigned to nobody

[2012-07-12 17:39] meunierd opened #9 "Unable to Exclude Columns from declarative_base()"
[code]

Any mapping created with this base is unable to exclude the inherited columns.

[2012-07-12 19:11] icemac opened #10 "Calling SQLAlchemyMapping() before .metadata.bind might result in exception"
I have a table with column defaults (like the DateTime class in tests.py). I have to make sure that Base.metadata.bind is bound to an engine otherwise I get something like:

[code]

So I'm unable to define the schema at module level because I get the traceback above while venusian is scanning the project.

Diff of ColanderAlchemy/tests.py for a minimal reproducible example:

[code]

[2012-08-04 13:44] #10 closed, assigned to nobody

[2012-08-06 08:14] #9 closed, assigned to nobody

[2012-09-15 18:31] domenkozar opened #11 "Use sqlalchemy.Column(info={}) to configure colanderalchemy"
`sqlalchemy.Column` has `info` parameter that can be used to pass application specific data. See http://docs.sqlalchemy.org/en/rel_0_7/core/schema.html?highlight=column#sqlalchemy.schema.Column.__init__

Would be much better to use that instead of changing Column itself (I lost about 15min to notice you are using custom Column, since it has the same name in documentation)

[2012-09-15 18:31] domenkozar opened #12 "PyPi has latests version 0.1b4, but no changelog"
http://pypi.python.org/pypi/ColanderAlchemy/0.1b4

What is the changelog for 0.1b4 version?

[2012-09-23 17:01] #12 closed, assigned to nobody

[2012-09-23 17:05] domenkozar opened #13 "Use MappingSchema for SQLAlchemyMapping instead of SchemaNode"
Sometimes it's very useful to change schema after it was created. It's one of the great things about colander/deform. Currently it's not possible to do:

[code]

I would create a patch, but I'm just checking if there is a reason why `SchemaNode` is used as subclass instead of `MappingSchema`?

[2012-09-23 21:32] #13 closed, assigned to nobody

[2013-03-16 00:12] davidjb opened #20 "Feature inclusion: 'undictify' function"
I've written most of an 'undictify' (world's worst name) function that given an appstruct (eg from Deform) and a ColanderAlchemy-mapped schema, returns a fully-formed SQLAlchemy model, deserialisng the appstruct and restoring it into the relevant mapped SQLAlchemy models (for new objects) and/or setting a given object's attributes accordingly (for updating existing objects in a database).

Sound l

[2013-03-18 02:16] #11 closed, assigned to nobody

[2013-04-30 02:28] davidjb opened #24 "ColanderAlchemy 0.2a1 on PyPI missing required files"
The version of CA on PyPI is missing files required for install (eg README.rst), and install thus fails (via Pip and Buildout).  Doing a fresh clone of the repository and running:

`python setup.py sdist`

produces a suitable tarball with the required files inside it.

Can you please make a new release & release to PyPI to solve this?

[2013-04-30 06:49] #24 closed, assigned to nobody

[2013-06-18 05:16] #20 closed, assigned to nobody

[2013-06-26 17:52] tisdall opened #28 "DateTime timezone default?"
I'm having some issues with datetime objects as Colander defaults to interpreting all naive datetime's into datetime's with the timezone being UTC.  SQLAlchemy defaults to returning naive datetime objects.  So when I compare a datetime value from a form with the value from my database they're not equal because of this.

I was wondering if maybe ColanderAlchemy should default to using colander.Date

[2013-07-09 13:12] #28 closed, assigned to nobody

[2013-07-17 17:03] marplatense opened #31 "Why preparers are not supported?"
First of all, sorry if this is not the best place to place the question. Is there a reason why preparers are not part of ColanderAlchemy? I have a current scenario where I could use them to prevalidate some stuff.

TIA
Mariano

[2013-07-18 16:09] #31 closed, assigned to nobody

[2013-11-02 18:17] sdyroff opened #33 "Deform example does not work"
I tried to get the deform example to work see my script: _https://gist.github.com/sdyroff/7281790_ . I attached the traceback below.

I used the following versions:
ColanderAlchemy-0.2.0
deform-2.0a2
SQLAlchemy-0.8.3

[code]

[2013-11-05 19:41] ztane opened #35 "ColanderAlchemy throws when encountering synonyms"
[code]

=>

[code]

Prolly should just `continue` on `AttributeError` there.

[2013-12-22 14:55] msaron opened #36 "Can ColanderAlchemy synchronize child records using primary keys?"
I have tried WTForms, and FormAlchemy. I am now trying to switch to Colander. My main issue is with synchronizing child records of a parent after a POST. WTForms does not sychronize the child records based on the primary keys of each child. FormAlchemy does, but FormAlchemy does not allow you to add new blank rows like WTForms and Deform.

This issue is important because say you are editing a pare

[2013-12-31 15:48] #36 closed, assigned to nobody

[2014-01-20 18:35] tisdall opened #39 "ALL tests fail when using SQLAlchemy >= 0.9a"
You can bypass the issues by not using `event.listen(mapper, 'mapper_configured', setup_schema)` and not having any relationships in your objects.

[code]

[2014-01-21 19:10] lei12 opened #40 "Including grandchildren relationships associated to the Sqlalchemy model of a child schema"
How could I get the 'free' adding form configuration display an 'add' option for second level related models ?

oParent_schemanode = SQLAlchemySchemaNode(Parent_model, includes=[..., relation_children])
oChildren_schemanode = oParent_schemanode .get('relation_children')
oChild_sqlalch_schemanode = oChildren_schemanode.children[0]

=> how to add a "relation_grandchildren" to the includes of oChild_

[2014-01-21 23:00] #33 closed, assigned to nobody

[2014-01-22 14:42] #35 closed, assigned to nobody

[2014-01-22 14:43] #39 closed, assigned to nobody

[2014-01-24 17:26] tisdall opened #43 "change handling of default functions"
From our testing models.py:

[code]

Currently how the system works is if a default is a function it's called immediately and the resulting value is used as the colander default.  However, the testing model is a good example of how this won't work well.  Essentially, unless you re-generate the schema, every creation of an `Account` is going to result in the exact same value for `created` where the

[2014-01-27 21:48] tisdall opened #44 "drop 'children' restriction on info kwarg"
The documentation imply that you can add a 'children' keyword to the 'info' dictionary to override the children on a node, but at https://github.com/stefanofontanelli/ColanderAlchemy/blob/master/colanderalchemy/schema.py#L201 there seems to be a restriction on doing that on a regular column.  What exactly is the rational behind this?

I'd like to drop it because I've found a use-case for it.  I ha

[2014-02-04 12:13] #40 closed, assigned to nobody

[2014-02-05 10:28] lei12 opened #45 "How to specify the order in which fields should be displayed ?"
form.render() keeps returning fields in the initial order of the mapping, skipping the includes list order : is there a way to customize this ?

    class Model(DeclarativeBase):
        __tablename__ = 'model_table'
        id = Column(...)
        col1 = Column(...)
        col2 = Column(...)
        col3 = Column(...)

    schema = SQLAlchemySchemaNode(Model, includes=['col3','col2','col1'])

=

[2014-02-05 16:09] #44 closed, assigned to nobody

[2014-02-05 20:37] #43 closed, assigned to nobody

[2014-02-06 11:44] lei12 opened #49 "Multiple validators"
I had a hard time sorting out that matter, surely because I am both discovering colander and colanderalchemy at the same time... but, might be useful to add an example to the doc, though I am not quite sure about how to deal with the contribution cloning process yet...

Used the colander.Function to pass a custom validator:

[code]

then in mapping:

[code]

[2014-02-11 21:20] #49 closed, assigned to nobody

[2014-03-19 17:30] lieryan opened #52 "ColanderAlchemy depends on unreleased Colander version when installed using pip"
[code]

[2014-03-27 11:42] #52 closed, assigned to nobody

[2014-06-03 21:24] lei12 opened #57 "colander.Invalid: {'anyforeignkey': '"None" is not a number'}"
While trying to get a form to update a record from a table SomeTable,
I am wondering if there is some misconfiguration from my side, since it seems rather logical to allow the NULL value in the MySQL column of a foreignkey when no value is provided in a record and the integrity must be preserved, but how could I get colander allow that through ColanderAlchemy ?

[code]

[2014-06-11 11:15] #57 closed, assigned to nobody

[2014-07-05 23:56] einSelbst opened #58 "How to ignore a column_property which maps a SQL expression"
Hi,
out of curiosity (because I do not depend on that column_property...yet), how do I ignore:
`type_name = column_property(select([EntityType.name]).where(EntityType.pk == type_pk))`

Adding _info>exclude_ like this doesn't seem to work:

`type_name = column_property(select([EntityType.name]).where(EntityType.pk == type_pk),
                                info={'colanderalchemy': {'exclude': Tru

[2014-07-07 15:55] #58 closed, assigned to nobody

[2014-08-06 15:03] tsauerwein opened #59 "Best practice: SelectWidget for n:1 relationship"
I am using ColanderAlchemy together with Colander and deform, so if this is the wrong place, please let me know. :)

Let's say I have a model `Project` and a model `Type`, and a Many-To-One relationship between the two. So that one project has exactly one type, but a type can be assigned to several projects. Something like this:

[code]

In the deform form I want to show a select widget for `typeI

[2014-08-06 15:49] #59 closed, assigned to nobody

[2014-12-23 19:55] ztane opened #66 "Make SQLAlchemySchemaNode truly subclassable"
The documentation claims the following:

Now, I wanted to add new types to `get_schema_from_column` (we are using postgresql JSON and TEXT[] and didn't want ColanderAlchemy to crash on these. If we need to add these, we need to copy paste the entire `get_schema_from_column` definition and add lines there. Furthermore, since `SQLAlchemySchemaNode` itself is hardcoded in the `get_schema_from_relatio

[2015-01-10 14:18] uralbash commented on #66
Maybe this PR #69 will solve your problem. You can override the standart strategy form generation, using their own field. I'm trying to do now in sacrud_deform.

[2015-01-30 17:09] tisdall opened #74 "defaults for `default` and `missing`"
I've been thinking this over for a bit now...  I found that what I at first considered a bug is probably better described as a design decision.  I'm looking for input from people to see what they think...

Basically, the colander schema you use differs if you're generating a form for **adding** a new object then if you were **editing** an object.  For example, if you're adding a new object with an

[2015-02-03 14:21] tisdall commented on #45
A really poorly named PR was added that now allows you to control the order of schema element via the `include` argument.  Sorry for the extremely long wait!

[2015-02-03 14:21] #45 closed

[2015-02-24 16:14] uralbash opened #77 "Need a new version release (0.3.2)"
What must be done to release a new version? Maybe I can solve some problems. This blocks the release of  sacrud_deform package and all that depends on it.

[2015-02-25 14:39] tisdall commented on #77
Yeah, I was in the middle doing that when I had my second child arrive a week early..  ;)

I'd like to merge #62 and #75, give people a little time to test everything out, and then push out a new release.

[2015-02-25 18:12] tisdall commented on #77
okay, #62 is merged in and #75 has been updated to be merged easily.  @uralbash can you test out #75 with what you're doing in sacrud_deform?  The changes I made there are to help handle deform a bit better.  I'd like to make sure I'm not breaking things on people, though.

[2015-02-26 15:17] uralbash commented on #77
Well, I will try to explore the changes in #75 and see how it affects the `sacrud_deform`. I hope that everything will work :smiley:

[2015-02-27 13:08] uralbash commented on #77
I tested `pyramid_sacrud` with `sacrud_deform` based on `colanderalchemy` from this branch https://github.com/tisdall/ColanderAlchemy/tree/nullable

And got the following results:

* [**Works!**] make the missing value for nullable fields be "null" instead of drop
* [**Works!**]  `dictify()` should return appstructs with `colander.null` in the appropriate spots
* [**I'm not used it**] `objectify()

[2015-03-10 08:20] elemoine commented on #77
@tisdall Is there anything we can do to make the 0.3.2 release happen?

[2015-03-10 14:27] tisdall commented on #77
@elemoine I wanted to include #75 but I still need to update the docs for that PR.  I'll see if I can find some time today...

[2015-03-10 19:07] tisdall commented on #66
glancing over this again...  Isn't this solved with using the "info" value on the column to define a `typ`?  Something like:
[code]

[2015-03-11 13:24] tisdall opened #80 "add vs edit schema"
Related to #74, would people be interested in adding the ability to generate a schema for "add" vs "edit"?

For example, if you generated an "add" schema for a primary key column that had an auto-incrementing integer, you'd want `missing=colander.drop` to allow the DB to fill it in on insert.  However, if you were editing an entry, you couldn't leave it blank because it was an edit and further mor

[2015-03-11 13:25] tisdall commented on #74
Since the changes have been made I'm going to close the issue...

[2015-03-11 13:25] #74 closed

[2015-03-11 21:36] tisdall commented on #77
okay, I pushed the version up!  Hopefully there's no issues.

[2015-03-11 21:44] elemoine commented on #77
Cool. Thanks. I'll test it in our application. Good work on ColanderAlchemy, it really does the job for us!

[2015-03-12 06:42] uralbash commented on #77
Thank you so much. This greatly simplifies my job. But I can not install it from pypi.
[code]

[2015-03-12 08:12] elemoine commented on #77
Same problem here. I don't see version 3.2.0 in https://pypi.python.org/simple/colanderalchemy/.

[2015-03-12 13:58] tisdall commented on #77
I'll take a look...  I did "python setup.py register" to upload it...  I'm not sure what else needs to be done to complete it.  :(

[2015-03-12 14:05] elemoine commented on #77
`register` is not sufficient, you also need to `upload` the package.

[2015-03-12 14:22] tisdall commented on #77
@elemoine ^_^  yeah, I just figured that out.  I then accidentally uploaded the file to the wrong spot, deleted it, and now it won't let me re-upload it...  I'm creating a .post1 release to fix that.  So annoying!

[2015-03-12 14:30] uralbash commented on #77
Yet there is no version with files on pypi, you can manually delete this release and reloaded again.

[2015-03-12 14:37] tisdall commented on #77
@uralbash - http://sourceforge.net/p/pypi/support-requests/468/    They prevent you from re-uploading any new file with the same name as a previous on due to caching issues.  It makes it annoying if you make any little mistake.

There's now a 0.3.2.post1 version on there ready to go!

[2015-03-12 14:46] uralbash commented on #77
It works! Thank you! Perhaps I should close the task.

[2015-03-12 14:46] #77 closed

[2015-05-04 20:46] miohtama commented on #80
I came across this issue too. I was thinking there must be some sort of heuristics to guess which fields are autopopulated, which cannot be added upon creation and then filter the rest out. For now I am going to do it with explicit `includes`.

[2015-05-04 21:07] miohtama opened #85 "Handling JSON/JSONB columns"
Currently I am having some types in my models which are JSON/JSONB (PostgreSQL). The default `get_schema_from_column` cannot handle them. The optimal mapping for these columns, unless user-given override is in place, should be read only string.

Would be be interested to cover this case in ColanderAlchemy core or should I keep it separate and maybe provide documentation how to handle the situation

[2015-05-04 21:58] miohtama opened #86 "Pass through of SQLAlchemy relationship list"
Is it possible to pass through SQLAlchemy objects without dictifying them from relationship where `uselist=True` ? I need this for complexish relationship widgets which needs to get the hold of the actual SQLAlchemy objects instead of converting them to dictionary and back.

I am not sure

* If it is possible
* How it is possible (as this is not clearly explained in documentation)

[2015-05-04 22:46] miohtama commented on #86
I kind of figured out a super hacky way to do this, but I hope if there is a real way to do before unleashing the ugliness to public world.

[2015-05-05 14:43] tisdall commented on #80
@miohtama - Yes, I have a heuristic I'm using already, but haven't added it into ColanderAlchemy.  I mentioned the major one above...  making the primary key(s) an uneditable field.

[2015-05-05 14:47] tisdall commented on #85
We could add that as a default, that's no problem...  I had thought about just defaulting to a plain text-input for everything that we didn't have something more specific for.

What's the rational behind making it a read-only field, though?

[2015-05-05 14:55] tisdall commented on #86
I haven't done much with relationships, but you could take a look at https://github.com/stefanofontanelli/DeformAlchemy/blob/master/deformalchemy/widget.py for an example of a widget making direct use of the sqla object.  Basically the widget gets passed the object when it's created and then a later call to `populate()` makes sqla queries to fill the values in on the widget.

[2015-05-06 11:07] miohtama commented on #85
Only sense it to make it read-only field only, is that Colander itself (might) not have native JSON field yet. So entering a typo in the input, which is quite easy with JSON, causes the database to reject the transaction and this leads to 500 error.

Note to self: Check for Colander field/Deform widget to edit JSON.

[2015-05-06 11:09] miohtama commented on #86
Perfect! With a quick look it looks like much cleaner what I was doing.

I'll check deformalchemy and close this issue if it is what I was looking for.

[2015-05-06 13:55] tisdall commented on #85
Unfortunately there's no sort of default handling of JSON in deform...  I guess someone could create a widget, but editing JSON is very much a programmer thing and not really a web user thing.  If you have JSON, you really need to create your own widget that deals with the specific kind of data you're storing in the JSON field.

I was thinking more of the base case (not just JSON) for all field ty

[2015-05-06 14:00] miohtama commented on #85
Which brings another point - how to extend ColanderAlchemy to handle this? What I did is that I subclasses `SQLAlchemySchemaNode` and added in all special cases, as I found this is was the easiest way to do it? But there are probably other ways?

Is there a way to pass around column mappings and type overrides easily?

[2015-05-06 15:05] tisdall commented on #85
how about: https://github.com/stefanofontanelli/ColanderAlchemy/issues/66#issuecomment-78124816

[2015-05-06 15:19] miohtama commented on #85
The problem is this approach that you are putting form-related (UI) stuff in the models (data) (though just hints) - and at the end of this road is something horrible, as, for example, you start cross-import between UI and models.  Thus, I'd like to maintain separation between the form hints and the actual SQLAlchemy model.

Also the hint syntax in model is quite heavy, but this is more of a probl

[2015-05-06 15:22] miohtama commented on #85
Is it ok if I present an alternative way to make type hinting as a pull request? Like using subclasses or giving some mapping parameters or mapping fuctions for SQLAlchemySchemaNode?

[2015-05-06 16:10] tisdall commented on #85
yeah, I'm open to suggestions.

However, the whole concept of ColanderAlchemy means there's a close coupling between the SqlAlchemy object and the end rendering in deform.  How myself (and at least one other person I know :wink: ) deals with limitations in ColanderAlchemy is to generate a colander schema with ColanderAlchemy and then modify the result afterwards to suit needs.  So, you'd call `SQL

[2015-05-07 21:27] miohtama commented on #85
Cool. Give me some days and I'll think about the strategy :)

On 6 May 2015 at 19:10, Tim Tisdall <notifications@github.com> wrote:

--
Mikko Ohtamaa
http://opensourcehacker.com
http://twitter.com/moo9000

[2015-05-27 09:54] pieterproigia commented on #85
I'd fix this by defining a new sqlalchemy type, and using https://github.com/stefanofontanelli/ColanderAlchemy/pull/62:

[code]

Now I use the new `JSON` class where I want to be able to deserialize it.
Reuse the code at harts content if you want.

[2015-05-27 14:08] tisdall commented on #85
@pieterproigia thanks for that!  You don't _have_ to use #62, though, you could also:
[code]

[2015-05-27 14:32] pieterproigia commented on #85
@tisdall You're totally right! But as @miohtama mentioned in https://github.com/stefanofontanelli/ColanderAlchemy/issues/85#issuecomment-99510493 that he did not want it in his models code, then using a new `JSON` column type might be a solution.

[2015-05-28 15:40] miohtama commented on #85
Hey @pieterproigia - this looks like less intrusive solutions! A step to right direction.

Though to nitpick I am scared how `types.TypeDecorator` works on import time and has some magic there, you don't explicitly tell SQLAlchemy to use, but that's more an issue with SQLAlchemy itself.

Closing this now.

[2015-05-28 15:40] #85 closed

[2015-05-28 15:47] tisdall commented on #85
@miohtama I'm not sure I understand what you're saying...  You define a new `JSON` type using the `TypeDecorator` and then in your SQLAlchemy object declarations you use that `JSON` type now and not the `postgresql.JSON`.  The new `JSON` is essentially a wrapper with the ColanderAlchemy configuration in it.

[2015-07-20 06:22] davidjb opened #87 "New release?"
Could someone please make a new release to PyPI?  I'm cleaning up some projects and would be good to avoid cloning from git to get #83 incorporated.

Thanks!

[2015-07-20 15:16] tisdall commented on #87
Okay, 0.3.3 release is now on PyPi.  No more .post1 garbage!

[2015-07-20 15:16] #87 closed

[2015-07-20 21:30] davidjb commented on #87
Thanks @tisdall!

[2015-08-24 18:34] dpwrussell opened #88 "non-inline-serialization"
Hi,

I am attempting to serialize an object that has a `backref` to a list (potentially zero, one or many).

[code]

This will serialize `Person` like so:

[code]

I've tried to find a way to change this serialization to something like this:

[code]

I don't seem to be able to. It doesn't seem to be possible to change the `typ` of a relationship with the `info` dictionary.

Obviously it is possibl

[2015-08-24 19:01] tisdall commented on #88
I think excluding everything but the `id` on `Score` is probably the best you can do.  If you add the exclusion directly to the `Score` object, though, you have the issue you've described.  You can, however, pass exclusion information to `SQLAlchemySchemaNode()` if you call it manually and then restrict the exclusion to just when you want the schema for `Person`.  I'm not exactly sure how you excl

[2015-08-24 19:09] dpwrussell opened #89 "SQLAlchemy Inheritance and backrefs"
If I define an inherited relationship (joined-table in this case) in SQLAlchemy, the backref is not being properly understood by ColanderAlchemy.

In my contrived example there is `Person`, which is sub-classed in `Gamer`. `Gamer` can have some `Score`s associated with it.

[code]

This will serialize a `Gamer` to this:

[code]

Which is not what I was expecting. The `scores` backref is being igno

[2015-08-28 20:47] dpwrussell commented on #88
Thanks, I think that answers this.

[2015-08-28 20:47] #88 closed

[2015-08-31 13:55] tisdall commented on #88
Which solution did you use?

[2015-08-31 14:05] dpwrussell commented on #88
@tisdall I actually switched to using MarshmallowSqlalchemy as (a couple of bugs aside that I've now fixed and contributed) that more closely met my requirements.

Thanks

[2015-08-31 14:25] tisdall commented on #88
@dpwrussell - Marshmallow looks pretty good.  Are you using it with deform or is this unrelated to html forms?

[2015-08-31 15:11] dpwrussell commented on #88
@tisdall It is not related to deform at this time, but we may need that later. Right now I just want a way of validating data before submitting it to our database. This also is likely to output a reasonable targeted error message when the data is not valid, helping our data curator streamline his process.

[2015-08-31 16:35] tisdall commented on #89
@Ademan, since you did some work on making `relationship` work properly, do you have any ideas about this issue?

[2015-09-13 17:26] Themanwithoutaplan commented on #80
I've got something related: I'm have a sequence of objects that I want to load into an edit form. What's the best way to use `dictify()` to get something that Deform will be happy with?

I have the following schema:
[code]

And a query that returns all relevant date objects (they have other attributes. I'm currently creating a SQLAlchemySchemaNode(Date) on the fly and calling `dictify()` on it but

[2015-09-14 18:18] tisdall commented on #80
@Themanwithoutaplan - I think you posted this in the wrong place... This issue is about having an add/edit toggle for generating the schema.

As for your issue, I'm a little confused about what you're doing...  `dictify()` is for when you've generated a schema from the SQLA object and you want to create an appstruct based on content from an SQLA object.  So, you should start from an SQLA class, ca

[2015-09-15 15:18] Themanwithoutaplan commented on #80
Thanks for the explanation. Re. `dictify()` I'm just looking for the best way to hook up a sequence of objects in an edit form: mapping (from SQLA) in a sequence in a schema. At the moment I loop through the query that returns all my objects (there is no object that represents all the sequence), manually instantiate an `SQLAlchemySchemaNode` of the objects and append the dict of the instance in th

[2015-09-16 04:41] Ademan commented on #89
Sorry, semester just started, I'll take a look though.

[2015-12-10 18:05] uralbash opened #92 "Can not update the object that was received with objectify method."
I can not save the object that was received with ``objectify`` method.
For example I save user with relation to address.

[code]

Now I get dict from user oject:

[code]

Create object from that dict and add it to dbsession:

[code]

But it raises error when I commit session.

[code]

It turns out that I can only create objects in such a way, not update. This is a very limited use of this function

[2015-12-10 20:00] tisdall commented on #92
I'm no longer working on anything related to this any more, unfortunately.

A quick look at the code looks like it's supposed to recursively update the attributes but the recursive calls to set the `context` like on the initial call.  There's also a variable called `cls` that's not being used that I suspect is what's supposed to be passed in as the `context`.

so perhaps it should be:
[code]

Let

[2015-12-16 15:52] tisdall commented on #92
@uralbash - Did that solve your issue?

[2015-12-17 04:17] uralbash commented on #92
@tisdall Yes thank you. I'll try to write tests when the time appears.

[2016-03-17 18:43] mariano-ramon opened #94 "CheckedPassword widget from deform library always fails"
It works creating the Colander Schema directly, but not from ColanderAlchemy, I need to create it this way (replacing the field) because I dont want that widget in the login form, just the the register

`
class User(Base, UserMixin):
    __tablename__ = 'usertable'
    id = Column(Integer, primary_key=True)
    username = Column(String(80))
    usermail = Column(String(80))
    password = Column(S

[2016-03-17 19:09] mariano-ramon commented on #94
sorry I was missing the name parameter when creating the SchemaNode

[2016-03-17 20:09] tisdall commented on #94
so..  it's all good?  I can close this issue?

[2016-03-17 20:10] mariano-ramon commented on #94
Yes, sir. Sorry for the time.
El mar 17, 2016 5:09 PM, "Tim Tisdall" <notifications@github.com> escribió:

[2016-03-18 23:57] tisdall commented on #94
;)  no worries!

[2016-03-18 23:57] #94 closed

[2016-04-25 17:43] olemoign opened #95 "Why can't columns' names be overridden ?"
In my model, I hide the users' passwords from the views by using an attribute `_password` and an hybrid property:

[code]

So I have the problem that I'm now asking for `_password`, where I actually want users to send me `password`. This could easily be solved by overriding the name but Colanderalchemy refuses: `ValueError: _password: argument name cannot be overridden via info kwarg.` (`schema.py

[2016-04-25 18:12] tisdall commented on #95
It's been a while since I looked at the code...   Can you provide the code you use to invoke ColanderAlchemy to make your schema?  The error you quoted seems to indicate you tried overriding the field twice (if I'm remembering correctly).

[2016-04-26 09:32] olemoign commented on #95
Sure.

[code]

[2016-04-26 13:15] tisdall commented on #95
I see what you're talking about now...  Yeah, I didn't write that code, so I'm not sure the exact reason behind but can only guess.  I suspect it's just to avoid dealing with naming conflicts (you could have two `Column`s that map to the same name).

The best thing to do is probably remove the override and just manually modify the schema afterwards.

Feel free to submit a PR with tests and documen

[2016-04-26 13:21] tisdall commented on #95
Looking at the history, it seems it goes back to the beginning...  @stefanofontanelli, did you want to comment on this?

[2016-05-24 12:44] tisdall commented on #92
@uralbash Are you able to put together a PR with tests for this?

[2016-05-24 12:46] tisdall commented on #89
@Ademan - Did you have a chance to look at this?

[2017-02-20 22:38] frispete opened #96 "Test failure"
In an attempt to package this project for openSUSE, I stumbled upon this:
[code]

Any idea, what's wrong here?

[2017-02-21 16:53] tisdall commented on #96
This seemed to be the issue I fixed with commit b45fe35f2936a5ccb705e9344075191e550af6c9 .  I didn't push a new version into PyPi because the bug was with the test case and not the actual library.  Did you need a new version pushed to PyPi to do this packaging?

[2017-02-21 17:57] frispete commented on #96
I must have been beaten with blindness (well, working in too many areas at the same time...), so I missed this one. Using this patch right now. All is fine...

Sorry for bothering you.

[2017-02-21 17:57] #96 closed

[2017-02-22 16:50] tisdall commented on #96
No problem!  I'm glad it was a simple issue.

[2017-04-06 00:06] grant-humphries opened #97 "Add parameter to limit depth of recursion across relationships"
Hi folks, I'm attempting to upgrade from version 0.3.1 to 0.3.3.  The recursion across all relationships to create schema nodes for more distantly related tables (as opposed to just primary relationships) is one of the features that is leading me to upgrade, but the ORM that I'm working with is pretty massive.  When calling `SQLAlchemySchemaNode` against one of our tables I let the code run for a

[2017-04-06 00:36] grant-humphries opened #98 "dictify method drops custom columns added in includes param"
This example in from docs:

[code]

Illustrates that you can add custom columns that do not exist on the provided SQLAlchemy table to the resultant colander schema by passing it in the includes list.  However the `dictify` method uses an inspector object based on that SQLA table to verify attributes, thus any columns added only in the includes will be dropped by the method.  See the [key portion](

[2017-04-06 00:51] grant-humphries commented on #98
Thinking about this more maybe it doesn't make sense for `dictify` to take into account custom columns as their values can could be added to the resultant object.  Am curious to get other folks' opinions on this.

[2017-04-06 17:34] tisdall commented on #97
Ideally the best solution would be for it stop if it reaches a node it's already visited.  However, that might be complicated to implement and requires keeping track of all visited nodes.

A recursion depth count would stop it running infinitely, but the end result coming from the method would probably be unusable.  It'd probably be good to have it throw an exception if the recursion goes beyond a

[2017-04-06 17:44] tisdall commented on #98
`dictify` was intended to take an ORM object and return it as a `dict`.  I'm not really sure it makes sense to look for attributes that aren't part of the model.  Where would the value come from if it's not in the model?  ... maybe I'm just not understanding your use-case.

[2017-04-13 19:18] grant-humphries commented on #98
I was writing a sqlalchemy query with a table that I've used to with `SQLAlchemySchemaNode` to create a colander schema.  In that query I return a couple of columns from other tables and tacked those onto the sqlalchemy object instance as attributes.

I then manually created schema nodes for those additional fields and passed them in the `includes` when I created the sqla schema node and then trie

[2017-04-13 19:18] #98 closed

[2017-04-13 19:44] grant-humphries commented on #97
Thanks for taking the time to respond to this @tisdall.  This package is pretty useful to my company so I might be able to convince them to allow me some time to create a pull request for this.  A couple of responses to your comments:

It seems like a straight forward solution to this would be add the `sqlalchemy` class names to a set after each node visit.  Since sets use hash tables the look-ups

[2017-04-13 20:37] grant-humphries opened #99 "deserialize --> objectify creates objects that are not a part of the submitted data"
Between version `0.3.1` and `0.3.2.post1` something has changed that caused the `deserialize` method (which I believe is inherited from `colander`) to handle data differently.  See the example below:

[code]

[code]

[code]

You can see that deserialize has switched from dropping dictionary items that have a value of `None` to assigning them some sort of null(ish) value based colander schema.  How

[2017-04-16 16:46] tisdall commented on #97
@grant-humphries - What I meant was that if you had data/schema that went 8 layers deep but returned only 4, the result wouldn't be very usable as it's missing data and if you used that to edit the data the end result would save only 4 layers and truncate the rest.  So, I think it should be an exception and leave it up to the implementer to deal with it as they want.  In other words, it should alw

[2017-04-16 16:48] tisdall commented on #97
It's been a while since I used SQLAlchemy so I can't remember how it handles some things...  I don't think you can just look at class names as you could have a table that has foreign keys to itself.  I think you'd have to look at the table and the primary keys to identify if it's the exact same row you've already visited.

[2017-04-16 16:58] tisdall commented on #99
I think you need to provide a lot more information here...  ColanderAlchemy provides methods for translating a SQLA schema into a Colander schema.  It never does any of the serialization/deserialization, that's all Colander.  So, if it has something to do with this library then it means it's because it generated a different colander schema than it did before.

I had a chunk of code somewhere I use

[2017-04-24 21:02] maparent commented on #97
This may sound simple-minded, but what about immediately setting the __colanderalchemy__ property of the class in the SQLAlchemySchemaNode initializer? That node is not complete yet, but it is already a valid reference.
Then, when we get the relationship _class in get_schema_from_relationship (schema.py:460), we can check if the attribute is set and return it directly if so.
The parents_ attribute

[2017-04-25 12:09] tisdall commented on #97
@grant-humphries - can you provide a failing example that we can run tests against?  Take a look at the 'tests' directory here for how the tests work and see if you can modify one to mimic your data structure and hopefully replicate the problem.

[2017-07-06 13:57] wolfgang-302 opened #101 "use objectify to persist relation"
I could not get colanderalchemy to persist data from relations. I had a look at the source of

'schema.objectify()'

where schema is an instance of 'SQLAlchemySchemaNode'

I think i found three bugs in this code:
line 691:
[code]
here cls is created but never used.

line 694/695:
[code]

if objectify is called on an appstruct, where the corresponding value is already persisted,
this fails. objecti

[2017-07-06 14:06] tisdall commented on #101
https://github.com/stefanofontanelli/ColanderAlchemy/issues/92#issuecomment-163734047

I'm waiting for someone to write a PR with a test case.

[2017-07-06 14:47] wolfgang-302 commented on #101
I just had a look at
Query.get(ident)
syntax from sqlalchemy. The ident is a scalar value or a tuple. That means, the lines

[code]

should be replaced with

[code]

Wolfgang

[2017-07-07 13:30] tisdall commented on #101
...  did you read the comment I referenced in the other issue?

[2017-07-07 15:26] wolfgang-302 commented on #101
you mean issue 92?
I found it after i opended this issue, but I think it is essentially the same problem. But

[code]
is not sufficient. context needs to be a reference to an existing instance in session. But cls is a class and not an instance and is not tied to session at all. To find the  instance in session that corresponds to obj -if it exists- you need data from obj to identify this instance.

[2017-07-07 17:52] tisdall commented on #101
Unfortunately I haven't worked on this library in a long time and don't currently use it.  So, it doesn't make too much sense for me to spend too much time on this.  I also never used relations due to other issues, too.

To submit a PR, fork this repo and check it out on your computer.  Then copy a test in `/tests/test_schema.py` and make a base case that fails with the current code ( #92 has an e

[2017-07-10 08:31] tonthon opened #102 "Unable to provide deferred types"
Providing custom deferred types results in an error
[code]

The column
[code]
The deferred type
[code]

When generating the schema with SQLAlchemySchemaNode, we get the error.

The error comes from the fact that a colander.deferred has a '__call__' method.

https://github.com/stefanofontanelli/ColanderAlchemy/blob/master/colanderalchemy/schema.py#L286
An exception should be added for colander.defe

[2017-07-10 18:06] wolfgang-302 commented on #101
Ok. So i forked the repo, created a branch 'persist_relation' on the forked repo and corrected the problem there.
tests/test_persist_data.py failes on branch master
all tests pass on branch 'persist_relation'.

Hope it works.
Wolfgang

[2017-11-02 17:03] Joishi commented on #97
@tisdall - I'll take a look, as I am encountering the same issue

[2017-11-06 17:58] Joishi commented on #97
@tisdall - Actually, looking at my models and your tests and doing some debugging, I'm not noticing any sort of recursive circle issues. What I am noticing is that it's recursing as deeply down the stack as necessary to create a full schema. My ORM contains about 400 models, many of which are intertwined.  To create a full schema for 1 model ends up creating over 250k schemas (many of which are du

[2017-11-06 20:08] tisdall commented on #97
@Joishi - How are you planning on handling the issue in the PR?

[2017-11-06 20:26] Joishi commented on #97
I'm not sure what you mean?  This is the first time I've worked on a shared project in Github, so I'm not familiar with the expected workflow.  I have forked the repo and made some local changes (not pushed yet) .. was going to submit a pull request from my fork.  Or maybe I'm not understanding what you are asking correctly.  :)

[2017-11-06 20:34] tisdall commented on #97
@Joishi - well, are you adding a parameter to limit the recursion, or are you implementing something else?

[2017-11-06 20:51] Joishi commented on #97
I'm going to add support for dot notation of includes..  For example:

includes = [
    'col1',
    'rel1',
    'rel1.col1',
]

This will generate a schema that contains when you specify in the includes, and only those values.  If you don't specify an includes, it will get everything by default (as it does now).

[2017-11-06 21:09] tisdall commented on #97
@Joishi - Just be aware that I haven't touched anything related to this library for quite some time, so I can't guarantee that it'll be merged any time soon...  I'll likely need some input from some other users before going ahead with a merge.

[2017-11-07 20:55] Joishi commented on #97
@tisdall - I submitted the pull request but it failed on 2.6 support .. I'm guessing it has to do with the list comprehension I used.  I will review what 2.6 support will require.

[2017-11-08 13:16] tisdall commented on #97
Yeah, SQLA dropped support for Python 2.6 so we probably should too.

[2019-04-21 17:40] risicle opened #107 "Tests fail against colander 1.7.0"
Only a single, quite subtle failure:

[code]

which is presumably caused by this https://github.com/Pylons/colander/issues/204#issuecomment-459556100

[2019-06-18 13:19] tonthon opened #108 "Numeric with as_decimal=False are converted in the wrong colander type"
Given the following model
[code]
The generated schema node for quantity is of type colander.Decimal
[code]

It should be colander.Float.

In my case I found a turnaround by setting the typ afterwards.

[2019-06-18 13:39] tisdall commented on #108
Looking at ColanderAlchemy it looks like it ignores the `asdecimal` flag.  You could submit a PR, but no one is actively maintaining this library right now.

Why don't you use `Float` or `Numeric` without the `asdecimal` setting?  I don't really understand the purpose of switching back and forth between float and Decimal (which will essentially lose precision).

[2019-08-07 11:21] tonthon commented on #108
I'll try to provide a PR if I find time for it.

We only use Decimal in the computation modules to avoid rounding problems. It works well this way.
Switching to another behaviour would be a large work that is far to be a priority on our roadmap.

In our app, we always customize the generated colander schema when asking for it, we added a hack in that part to solve our problem.

[2019-08-07 13:22] tisdall commented on #108
Maybe I'm misunderstanding, but if you're using `Decimal` then use use Numeric and keep everything as a `Decimal`.  If you use `Numeric(7,5, asdecimal=False)` then you're converting to a `float` and can possibly lose precision.  In general it seems like you should use `Numeric` when you want to do everything in `Decimal` and `Float` when you want to do everything in `float`.  The `asdecimal` flag

[2020-03-03 18:40] tisdall commented on #107
I've fixed the tests so they now work with the latest version of colander.  I didn't create a new release, though, as there's no functional changes.  Do you need a new release for what you're doing so the test included with the package pass?

[2020-03-03 20:07] tisdall commented on #107
The package doesn't actually include the tests, but I put out another release any way just to show that the project is still valid and running.

[2020-03-03 20:07] #107 closed

[2021-01-08 19:58] tisdall opened #112 "Travis-CI.org is toast"
Travis-CI has decided to pull the plug on the travis-ci.org services and require transitioning over to their ".com" service.  However, there seems to be [some issues around the transition](https://travis-ci.community/t/extremely-poor-official-communication-of-the-org-shutdown/10568).  The "shutdown" was scheduled for Dec 31, 2020, so any future PRs may never actually run tests.

[2021-01-20 22:24] #95 closed

[2021-11-05 20:13] dabajabaza opened #113 "SQLAlchemy relationship attribute with collection_class option"
**The bug**
I have sqlalchemy model with relationship attribute `states` and `collection_class` option.
I define colanderalchemy schema that NOT includes attribute `states`, so I expect that this attribute would be ignored even if it's exists in input data.
Colanderalchemy generates error while trying to objectify input data with `states` in it.

**Expected behavior**
Schema objectified successful

[2021-11-29 14:30] tisdall commented on #113
I'm not sure if this is helpful, but shouldn't it be `schema.objectify({"name": "Some Name", "states": []})` so `states` is a `list`?

[2021-11-29 14:31] tisdall commented on #113
I'm not sure if this is helpful, but shouldn't it be `schema.objectify({"name": "Some Name", "states": []})` so `states` is a `list`?